{% extends 'base.html' %}

{%block content %}

    <header> <h1>Flask aide memoire</h1></header>
    <body>
        <link href="{{ url_for('static', filename='css/style_aide.css') }}" rel="stylesheet">

        <p>
        Flask permet à python de générer des pages web.<br>
        Il est recommandé d'utiliser une appproche MVC (Model,View,Control)<br>
        En général une application est composé de plusieur fichier et dosssier.<br>
        <img src={{ url_for('static', filename='img/arbo_flask.png') }}/><br>
        Dans l'arborescence vous apercever un dossier fonction et un notebook qui ne participe pas à Flask.<br>
        <br>
        Fichier à la racine :<br>
        Le fichier run.py : permet de lancer l'application.<br>
        Le fichier config.py permet de faire la configuration de Flask et éventuellement de sa Base De Donnée(BDD)<br>
        Le ficiher .env pour des variables d'environnement (genre des clé secrete ou des user/password)<br>
        Un dossier pour l application ici pingouin_app<br>
        Un dossier venv pour l'environnement virtuel<br>
        <br>
        Les dossiers et fichier de l'application :<br>
        __ini__.py : fichier python pour initialiser un module.<br>
        views.py : permet de gerer les routes/vue<br>
        form.py : ici il s'agit de faire un model pour un formulaire. Vous pouvez trouvé un models.py pour une BDD<br>
        util.py : en general je mets mes fonctions perso<br>
        <br>
        Le dossier static : permet de stoquer des fichier statique (image, feuille de style)<br>
        Le dossier templates stocke les pages html<br>
        <br>
        Allons parlons un peu de code :
        le fichier run.py:
        <div class="code">from pingouin_app import app<br>
            <br>
            if __name__ == "__main__":<br>
                app.run(debug=True)<br>
        </div>
        Le fichier sert juste à lancer un serveur local avec la commande python run.py avec l'adresse par defaut.<br>
        Attention il s'agit d'un server de test de code. Il ne doit pas servir pour lancer un vrai server web. utiliser par exemple Gunicorn pour cela.<br>
        Remarqué que le mode debug est activé sur ce serveur local. si vous lancer l'application avec gunicorn, il lancera le site avec debug=False.<br>
        
        </p>
    </body>

{% endblock %}