div.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    }

div.menu{
    grid-column: 1;
    background-color: aquamarine;
    border-radius: 5%;
    }

div.contenu{
    grid-column: 2;
    background-color: black;
    color: white;
    border: solid green;
    }

div.div.code{
    background-color: black;
    color: white;
    border: solid green;
    }